.dmsDocumentForm {
  background-color: "[theme:white, default:#ffffff]";
  color: "[theme:themePrimary, default:#0078d4]";
  padding: 0.5rem;
}
.formWrapper {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding-left: 10px;
    padding-top: 10px;
    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 2rem;
      .fieldWrapper {
        display: flex;
        flex-basis: 33%;
        flex-grow: 1;
        flex-direction: column;
      }
      .fieldWrapper:empty {
        display: none;
      }
    }
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem;
    gap: 1rem;
  }
}
.formOuterContainer {
  position: static;
}
.formMidContainer {
  position: relative;
}
.formInnerContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: absolute;
  width: 100%;
}
.formInnerContainer.hidden {
  visibility: hidden;
}
.formWrapper.viewMode {
  label:global(.ms-Label[class*="root-"]),
  input:global(.ms-TextField-field[class*="field-"]),
  input:global(.ms-ComboBox-Input[class*="css-"]),
  div:global(.ms-ComboBox[class*="css-"]) {
    color: inherit;
  }
}
.formWrapper.newMode {
  min-width: none;
}
.formWrapper.editMode {
  min-width: none;
}
.titleHeader {
  width: auto;
}
.notificationsContianer {
  outline: none;
}
.invalidSection {
  color: "[theme: error, default: #a4262c]";
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: "[theme: neutralLight, default: #ededed]";
  justify-items: center;
  padding: 1rem;
}
.header > * {
  display: flex;
  align-self: center;
}
.dmsDynamicForm {
  column-gap: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.urlField {
  padding: 0em 1em 0.5em 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  > div {
    flex-grow: 1;
  }
  > div:last-child {
    flex-grow: 3;
  }
}
.loadingField {
  display: flex;
  flex-direction: column;
  padding: 5px 0px;
  gap: 5px;
}
.validationWrapper {
  .validationErrorMessage {
    color: "[theme: error, default: #a4262c]";
    animation-name: css-0, css-13;
    animation-duration: 0.367s;
    animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
    animation-fill-mode: both;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    font-weight: 400;
    margin: 0px;
    padding-top: 5px;
    display: flex;
    align-items: center;
  }
  .invalidFieldWrapper {
    div:global(.ms-BasePicker-text) {
      border-color: "[theme: error, default: #a4262c]";
    }
  }
}
.validationWrapper.invalidFieldWrapper {
  div:global(.ms-BasePicker-text) {
    border-color: "[theme: error, default: #a4262c]";
  }
}
