.dmsApplicationActions {
  background-color: "transparent";
  color: "[theme:white, default:#ffffff]";
  /*text-align: center;
  padding: 0.5rem;*/
}

.dmsChevButton {
  min-width: 50px;
  border: none;
  font-weight: normal;
  padding:0;
}
